.button {
  --_btn-font: var(--f-button-font, var(--f-font-sans));
  --_btn-weight: var(--f-button-weight);
  --_btn-radius: var(--f-button-radius);
  --_btn-bg: var(--f-button-bg-primary);
  --_btn-bg-hover: var(--f-button-bg-primary-hover);
  --_btn-color: var(--f-button-text-primary);
  --_btn-font-size: var(--f-button-font-size-md);
  --_btn-padding: var(--f-button-padding-md);

  margin: 0;
  padding: var(--_btn-padding);
  font-family: var(--_btn-font);
  font-size: var(--_btn-font-size);
  font-weight: var(--_btn-weight);
  line-height: 1;
  color: var(--_btn-color);
  background-color: var(--_btn-bg);
  border-width: 0;
  border-radius: var(--_btn-radius);
  white-space: nowrap;
  display: inline-flex;
  align-items: center;

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color var(--f-motion-base);
  }
}

.button:hover {
  background: var(--_btn-bg-hover);
}

.button[aria-disabled="true"] {
  cursor: not-allowed;
}

.button[data-size="sm"] {
  --_btn-font-size: var(--f-button-font-size-sm);
  --_btn-padding: var(--f-button-padding-sm);
}

.button[data-size="lg"] {
  --_btn-font-size: var(--f-button-font-size-lg);
  --_btn-padding: var(--f-button-padding-lg);
}

.button[data-variant="secondary"] {
  --_btn-bg: var(--f-button-bg-secondary);
  --_btn-bg-hover: var(--f-button-bg-secondary-hover);
  --_btn-color: var(--f-button-text-secondary);
}

.button[data-variant="ghost"] {
  --_btn-bg: var(--f-button-bg-ghost);
  --_btn-bg-hover: var(--f-button-bg-ghost-hover);
  --_btn-color: var(--f-button-text-ghost);
}

.button[data-variant="danger"] {
  --_btn-bg: var(--f-color-surface-danger);
  --_btn-bg-hover: var(--f-button-bg-danger-hover);
  --_btn-color: var(--f-color-text-title-danger);
}
