.alert {
  --_alert-bg: var(--color-surface-info);
  --_alert-text: var(--color-text-info);
  --_alert-text-title: var(--color-text-title-info, var(--_alert-text));
  --_alert-padding: var(--alert-padding, var(--gap-default));
  --_alert-gap: var(--alert-gap, var(--gap-inline-default));

  background-color: var(--_alert-bg);
  color: var(--_alert-text);
  padding: var(--_alert-padding);
  display: flex;
  flex-direction: column;
  gap: var(--_alert-gap);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--_alert-padding);
}

.closeIcon {
  height: 1em;
  width: 1em;
}

.title {
  color: var(--_alert-text-title);
  margin: 0;
  margin-inline-end: auto;
}

.alert[data-variant="success"] {
  --_alert-bg: var(--color-surface-success);
  --_alert-text: var(--color-text-success);
  --_alert-text-title: var(--color-text-title-success);
}

.alert[data-variant="warning"] {
  --_alert-bg: var(--color-surface-warning);
  --_alert-text: var(--color-text-warning);
  --_alert-text-title: var(--color-text-title-warning);
}

.alert[data-variant="danger"] {
  --_alert-bg: var(--color-surface-danger);
  --_alert-text: var(--color-text-danger);
  --_alert-text-title: var(--color-text-title-danger);
}
